<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyRoom"
        tools:targetApi="31">
        <activity
            android:name=".adapter.PropertyChatAdapter"
            android:exported="false" />
        <activity
            android:name=".screen.PropertyChatActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.RoomChatAdapter"
            android:exported="false" />
        <activity
            android:name=".screen.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".screen.OtherTenantChatActivity"
            android:exported="false" />
        <activity
            android:name=".screen.OtherTenantInformationActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.OtherTenantAdapter"
            android:exported="false" />
        <activity
            android:name=".screen.OwnerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ChatWithOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".screen.TenantInformationActivity"
            android:exported="false" />
        <activity
            android:name=".screen.TenantActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.PropertyTenantAdapter"
            android:exported="false" />
        <activity
            android:name=".adapter.AddTenantAdapter"
            android:exported="false" />
        <activity
            android:name=".screen.AddTenantActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.RoomTenantAdapter"
            android:exported="false" />
        <activity
            android:name=".screen.RoomTenantsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RoomChatActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RoomNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RoomPaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PropertyTenantsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PropertyNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PropertyPaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RoomInformationActivity"
            android:exported="false" />
        <activity
            android:name=".screen.UpdateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".adapter.RoomAdapter"
            android:exported="false" />
        <activity
            android:name=".screen.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RoomsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PropertyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PropertyInformationActivity"
            android:exported="false" />
        <activity
            android:name=".screen.UpdatePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.DeletePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.AddPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.MyPropertiesActivity"
            android:exported="false" />
        <activity
            android:name=".model.ModelsActivity"
            android:exported="false" />
        <activity
            android:name=".data.DataSourceActivity"
            android:exported="false" />
        <activity
            android:name=".screen.OwnerOfThePropertyActivity"
            android:exported="false" />
        <activity
            android:name=".screen.OtherTenantsActivity"
            android:exported="false" />
        <activity
            android:name=".screen.NotificationsTenantActivity"
            android:exported="false" />
        <activity
            android:name=".screen.TaskActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screen.NotificationsOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".screen.PropertiesActivity"
            android:exported="false" />
        <activity
            android:name=".screen.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screen.HomeTenantActivity"
            android:exported="false" />
        <activity
            android:name=".screen.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screen.HomeOwnerActivity"
            android:exported="false" />
        <activity
            android:name=".screen.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>